language: python
python:
  # - "2.7"
  - "3.4"
  # - "3.5"
cache: pip
install:
  - pip install -r requirements.txt
script:
  - echo "skipping tests"  
  - chmod a+x images/
  - python scripts/clean.py
  # - py.test --cov-report term-missing --cov app -v
deploy:
  provider: heroku
  api_key:
    secure: "a4137ff6-1763-46d8-b8ab-435225dcdf00"
    app: tag-me
